@using AffiliateWODTracker.Core.ViewModels
@model List<MemberViewModel>

@functions {
    public static int CalculateAge(DateTime dateOfBirth)
    {
        var today = DateTime.Today;
        var age = today.Year - dateOfBirth.Year;
        if (dateOfBirth.Date > today.AddYears(-age)) age--;
        return age;
    }
}

@if (Model != null && Model.Any())
{
    <div class="container">
        <div class="row row-cols-1 row-cols-md-5 g-4">
            @foreach (var member in Model)
            {
                <div class="col">
                    <div class="card h-100">
                        <div class="card-body">
                            <h5 class="card-title">@member.FirstName @member.LastName</h5>
                            <p class="card-text">@member.Address</p>
                            <p class="card-text">Age: @CalculateAge(member.DateOfBirth)</p>
                        </div>
                        <div class="card-footer">
                            <button type="button" class="btn btn-custom" data-toggle="modal" data-target="#rejectConfirmationModal" data-memberid="@member.MemberId">
                                Reject
                            </button>
                            <button type="button" class="btn btn-custom" data-toggle="modal" data-target="#acceptConfirmationModal" data-memberid="@member.MemberId">
                                Accept
                            </button>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
}
else
{
    <div class="text-center">
        <p>There are no active requests to join this affiliate.</p>
        <a asp-controller="Affiliate" asp-action="MyAffiliate" class="btn btn-custom">My Affiliate</a>
    </div>
}

@* Approval Modal *@
<div class="modal fade" id="acceptConfirmationModal" tabindex="-1" role="dialog" aria-labelledby="acceptConfirmationModal" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="acceptConfirmationModalLabel">Accept Member</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                Are you sure you wish to Accept this member into your Affiliate?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">No</button>
                <button type="button" class="btn btn-success"  id="confirmAcceptButton">Yes</button>
            </div>
        </div>
    </div>
</div>


@* Reject Modal *@
<div class="modal fade" id="rejectConfirmationModal" tabindex="-1" role="dialog" aria-labelledby="rejectConfirmationModal" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="rejectConfirmationModalLabel">Reject Member</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                Are you sure you wish to Reject this member from accessing your Affiliate?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">No</button>
                <button type="button" class="btn btn-danger" id="confirmRejectButton">Yes</button>
            </div>
        </div>
    </div>
</div>

<style>
    .card {
        /* Additional styling if needed */
    }
</style>

@section Scripts {
    <script>

        $(document).ready(function () {
            // Accept modal show event binding
            $('#acceptConfirmationModal').on('show.bs.modal', function (event) {
                var button = $(event.relatedTarget);
                var memberId = button.data('memberid');
                $(this).find('#confirmAcceptButton').off('click').on('click', function () {
                    handleMemberAccept(memberId);
                });
            });

            // Reject modal show event binding
            $('#rejectConfirmationModal').on('show.bs.modal', function (event) {
                var button = $(event.relatedTarget);
                var memberId = button.data('memberid');
                $(this).find('#confirmRejectButton').off('click').on('click', function () {
                    handleMemberReject(memberId);
                });
            });
        });


        function handleMemberAccept(memberId) {
            var removeUrl = '/Members/AcceptMember';

            fetch(removeUrl, {
                method: 'PUT',
                headers: {
                    'Content-Type': 'application/json',
                    'RequestVerificationToken': document.querySelector('input[name="__RequestVerificationToken"]').value
                },
                body: JSON.stringify({ memberId: memberId })
            })
                .then(response => {
                    if (response.ok) {
                        location.reload(); // Or use JavaScript to remove the row from the DOM
                    } else {
                        // Handle error here
                        console.error('Accept failed.');
                    }
                })
                .catch(error => {
                    console.error('Error:', error);
                });
        }

        function handleMemberReject(memberId) {
            var removeUrl = '/Members/RejectMember';

            fetch(removeUrl, {
                method: 'PUT',
                headers: {
                    'Content-Type': 'application/json',
                    'RequestVerificationToken': document.querySelector('input[name="__RequestVerificationToken"]').value
                },
                body: JSON.stringify({ memberId: memberId })
            })
                .then(response => {
                    if (response.ok) {
                        location.reload(); // Or use JavaScript to remove the row from the DOM
                    } else {
                        // Handle error here
                        console.error('Reject failed.');
                    }
                })
                .catch(error => {
                    console.error('Error:', error);
                });
        }
    </script>
}

