@using AffiliateWODTracker.Core.ViewModels
@model List<MemberViewModel>

@functions {
    public static int CalculateAge(DateTime dateOfBirth)
    {
        var today = DateTime.Today;
        var age = today.Year - dateOfBirth.Year;
        if (dateOfBirth.Date > today.AddYears(-age)) age--;
        return age;
    }
}

<div class="container">
    <div class="row row-cols-1 row-cols-md-5 g-4">
        @foreach (var member in Model)
        {
            <div class="col">
                <div class="card h-100">
                    <div class="card-body">
                        <h5 class="card-title">@member.FirstName @member.LastName</h5>
                        <p class="card-text">@member.Address</p>
                        <p class="card-text">Age: @CalculateAge(member.DateOfBirth)</p>
                    </div>
                    <div class="card-footer">
                        <button type="button" class="btn btn-custom" data-toggle="modal" data-target="#rejectConfirmationModal" id="rejectButton" data-memberid="@member.MemberId">
                            Reject
                        </button>
                        <button type="button" class="btn btn-custom" data-toggle="modal" data-target="#approveConfirmationModal" id="approveButton" data-memberid="@member.MemberId">
                            Accept
                        </button>
                    </div>
                </div>
            </div>
        }
    </div>
</div>


<style>
    .card {
        /* Additional styling if needed */
    }
</style>


